.hero{
    background: linear-gradient(180deg , #fde1ff, #e1ffea22 90%) ;
    display: flex;
    justify-content: space-around;
   
}
.hero-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.hero-left h2{
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}
.hero-left p{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
}

.hero-right{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.hero-right img{
    width: 70%;
}
.hero-latest-btn{
    background-color: #fb5486;
    width: max-content;
    padding: 9px 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
}