.NewsLetter{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    background: linear-gradient(180deg , #fde1ff, #e1ffea22 90%) ;
    padding:30px 10px;
}
.NewsLetter h1{
    color: #171717;
    font-size: 35px;
    font-weight: 600;
}
.NewsLetter p{
    color: #171717;
    font-size: 20px;
    font-weight: 600;
}
.NewsLetter input{
    border: none;
    border-bottom: 1px solid #171717;
   background-color: transparent;
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
}
.NewsLetter button{
    border: pink 1px solid;
    cursor: pointer;
    width: max-content;
    background: #d35897;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 30px;
}
.NewsLetter button:hover{
    color: #000;
    background-color: #fff;
    transition: .4s;
}
