.offer{
    width: 75%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    padding: 0 140px;
    background: linear-gradient(180deg , #fde1ff, #e1ffea22 90%) ;
}
.offer-left{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
}
.offer-left h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.offer-left p{
    color: #171717;
    font-size: 20px;
    font-weight: 600;
}
.offer-left button{
    border: pink 1px solid;
    cursor: pointer;
    width: max-content;
    background: #d35897;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 10px;
}
.offer-left button:hover{
    color: #000;
    background-color: #fff;
    transition: .4s;
}
.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}
.offer-right img{
    width: 80%;
}