.New-Collection{
    margin-top: 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.New-Collection h1{
    color: #171717;
    font-size: 35px;
    font-weight: 600;
}
.New-Collection hr{
    width: 250px;
    opacity: 1;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-top: -15px;
}
.collection{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 20px;
}
