.item{
    width: 250px ;
    border: 1px solid #010101;
    padding: 10px;
}
.item p{
margin: 6px 0;

}
.item-price{
    display: flex;
    gap: 20px;

}
.item-price-new{
    color: #374151;
    font-size: 16px;
    font-weight: 500;
}
.item-price-old{
color: #8c8c8c;
text-decoration: line-through;
font-size: 16px;
font-weight: 500;
}
.item:hover{
    transform: scale(1.05);
    transition: .4s;
}
.item img{
    width: -webkit-fill-available;
}
.cart-button{
    border: 1px solid #171717;
    border-radius: 18px;
    background-color: pink;
    /* background-color: transparent; */
    padding: 8px 10px;
    cursor: pointer;
    font-size: 10px;
}
.item:hover .cart-button{
    background-color: transparent;
    
}
