.Navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #000;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-logo p{
    color: #171717;
    font-size: 35px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
    color: #171717;
}
.nav-menu li{
 list-style-type: none;
 display: flex;
 font-size: 20px;
 font-weight: 500;
 /* color: #626262; */
 display: flex ;
 flex-direction: column;
 justify-content: center;
 cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 100%;
    height: 3px ;
    border-radius: 10px;
    background: #f0318a;
    opacity: 1;
    margin-top: 3px;
}
.nav-lgin-cart{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-lgin-cart button{
    border: 1px solid #171717;
    border-radius: 18px;
    background-color: transparent;
    padding: 8px 30px;
    cursor: pointer;
}
.nav-lgin-cart button:hover{
    color: #fff;
    background-color: #171717;
    transition: .3s;
}
.nav-cart-count{
    width: 20px;
    height: 20PX;
    margin-top: -45px;
    margin-left: -47px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
}