.footer-logo{
 flex: 1;
 display: flex;
 justify-content: center;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.footer-logo p{
    color: #313131;
    font-size: 35px;
    font-weight: 600;
}
.footer-menu{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}
.footer-menu li{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #626262;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
   }
   .footer-menu li:hover{
    color: rgb(224, 153, 179);
    transition: .4s;
   }
   .footer-social{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 25px 0 30px;
   }
   .footer-social img {
    border: 1px solid #7f7d7d;
    border-radius: 10px;
    padding: 10px;
   }
   .footer-social img:hover{
    transform: scale(1.05);
    transition: .4s;
    background-color: rgb(235, 189, 196);
    cursor: pointer;
   }
   .footer hr{
    width: 85%;
    background-color: #8f8b8b;
    opacity: 1;
    margin: auto;
    height: 2px;
   }
   .copyright {
    display: flex;
    justify-content: center;
   }
   .copyright p{
    color: #626262;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 20px 30px;

   }