.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50PX;
}
.popular h1{
    color: #171717;
    font-size: 35px;
    font-weight: 600;
}
.popular hr{
    width: 250px;
    opacity: 1;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-top: -15px;
}
.popular-item{
    display: flex;
    margin-top: 50px;
    gap: 30px;

}
.popular-item img{
 
}